ErrorDocument 404 https://dimsirka.if.ua/
ErrorDocument 403 https://dimsirka.if.ua/
ErrorDocument 500 https://dimsirka.if.ua/
Options -Indexes

RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://dimsirka.if.ua/ [L,R=301]