html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #3A3C42;
    font-family: 'Montserrat', sans-serif;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
}

.nav-item {
    padding: 10px;
}


/* .nav-item:hover {
    border-radius: 20px;
    background-color: #9CCD62;
} */

.nav-item a {
    font-size: 24px;
    color: #F7F8E2;
    text-decoration: none;
}

.nav-item-help a {
    font-size: 24px;
    color: #F7F8E2;
    text-decoration: none;
    font-weight: 600;
    padding-left: 3px;
}

.nav-item-help {
    display: flex;
    background-color: #9CCD62;
    border-radius: 20px;
    padding: 10px;
    margin: 0 25px;
    align-items: center;
}

.nav-item-help img {
    width: 27px;
    height: 27px;
}

.logo img {
    width: 100px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}


/*
.nav-item-help:hover .heart {
    width: 30px;
    height: 30px;
}
*/